<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vikinsoft.wp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/wp_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Login"
            android:configChanges="locale|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".Registro"
            android:configChanges="locale|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".PerfilUsuario" />
        <activity android:name=".Mapa" />
        <activity android:name=".EditarPerfil" />
        <activity android:name=".CategoriasFavoritas" />
        <activity android:name=".RegistrarProducto" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ProductoDetalle" />
        <activity android:name=".Slider_full" />
        <activity android:name=".VerificarFacebook" />
        <activity android:name=".VerificarGoogle" />
        <activity android:name=".VerificarMail" />
        <activity android:name=".VerificacionEditarPerfil" />
        <activity android:name=".Chat"></activity>
    </application>

</manifest>